body{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Muli', sans-serif;
}


body::after{
    background: url(https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat;
    background-size: cover;
	background-position: center center;
	content: '';
	filter: blur(5px);
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	z-index: -1;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #222222;
    
    width: 800px;    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.coluna{
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    justify-content: center;
    background: #222222;
}



    

